In [3]:
import pandas as pd
import os

### Rejected ideas
---

### Synthetic Financial Dataset for fraud detection

#### This is a sample of 1 row with headers explanation:

1,PAYMENT,1060.31,C429214117,1089.0,28.69,M1591654462,0.0,0.0,0,0

---

* step - maps a unit of time in the real world. In this case 1 step is 1 hour of time. Total steps 744 (30 days simulation).

* type - CASH-IN, CASH-OUT, DEBIT, PAYMENT and TRANSFER.

* amount -amount of the transaction in local currency.

* nameOrig - customer who started the transaction

* oldbalanceOrg - initial balance before the transaction

* newbalanceOrig - new balance after the transaction

* nameDest - customer who is the recipient of the transaction

* oldbalanceDest - initial balance recipient before the transaction. Note that there is not information for customers that start with M (Merchants).

* newbalanceDest - new balance recipient after the transaction. Note that there is not information for customers that start with M (Merchants).

* isFraud - This is the transactions made by the fraudulent agents inside the simulation. In this specific dataset the fraudulent behavior of the agents aims to profit by taking control or customers accounts and try to empty the funds by transferring to another account and then cashing out of the system.

* isFlaggedFraud - The business model aims to control massive transfers from one account to another and flags illegal attempts. An illegal attempt in this dataset is an attempt to transfer more than 200.000 in a single transaction.

In [8]:
os.getcwd()

'C:\\Users\\samdo\\OneDrive\\Springboard\\Springboard-projects'

In [12]:
fin_df = pd.read_csv('Data\synthetic_financial_data_kaggle.csv')
fin_df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [58]:
# not enough Fraud cases

fin_df.isFraud.sum() / len(fin_df)

0.001290820448180152

In [20]:
print(f'shape: {fin_df.shape}')
fin_df.describe()

shape: (6362620, 11)

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [21]:
fin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
step              int64
type              object
amount            float64
nameOrig          object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest          object
oldbalanceDest    float64
newbalanceDest    float64
isFraud           int64
isFlaggedFraud    int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [31]:
pd.DataFrame(data=(100 * (fin_df.isnull().sum() / len(fin_df))), columns=['Percent NaN'])

                Percent NaN
step                    0.0
type                    0.0
amount                  0.0
nameOrig                0.0
oldbalanceOrg           0.0
newbalanceOrig          0.0
nameDest                0.0
oldbalanceDest          0.0
newbalanceDest          0.0
isFraud                 0.0
isFlaggedFraud          0.0

### Fake job postings

The goal would be to create a model that identifies fake job postings.

In [24]:
job_df = pd.read_csv('Data\\fake_job_postings.csv')
job_df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [25]:
print(f'shape: {job_df.shape}')
job_df.describe()

shape: (17880, 18)

,job_id,telecommuting,has_company_logo,has_questions,fraudulent
count,17880.000000,17880.000000,17880.000000,17880.000000,17880.000000
mean,8940.500000,0.042897,0.795302,0.491723,0.048434
std,5161.655742,0.202631,0.403492,0.499945,0.214688
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4470.750000,0.000000,1.000000,0.000000,0.000000
50%,8940.500000,0.000000,1.000000,0.000000,0.000000
75%,13410.250000,0.000000,1.000000,1.000000,0.000000
max,17880.000000,1.000000,1.000000,1.000000,1.000000

In [56]:
# This is a very uneven data set. Not enough fraudulent cases
job_df.fraudulent.sum() / len(job_df)

0.04843400447427293

In [26]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
job_id                 17880 non-null int64
title                  17880 non-null object
location               17534 non-null object
department             6333 non-null object
salary_range           2868 non-null object
company_profile        14572 non-null object
description            17879 non-null object
requirements           15185 non-null object
benefits               10670 non-null object
telecommuting          17880 non-null int64
has_company_logo       17880 non-null int64
has_questions          17880 non-null int64
employment_type        14409 non-null object
required_experience    10830 non-null object
required_education     9775 non-null object
industry               12977 non-null object
function               11425 non-null object
fraudulent             17880 non-null int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [30]:
pd.DataFrame(data=(100 * (job_df.isnull().sum() / len(job_df))), columns=['Percent NaN'])

                     Percent NaN
job_id                  0.000000
title                   0.000000
location                1.935123
department             64.580537
salary_range           83.959732
company_profile        18.501119
description             0.005593
requirements           15.072707
benefits               40.324385
telecommuting           0.000000
has_company_logo        0.000000
has_questions           0.000000
employment_type        19.412752
required_experience    39.429530
required_education     45.329978
industry               27.421700
function               36.101790
fraudulent              0.000000

### Potential ideas remaining
---

### Lending Club investors - borrower pay-back loan in full: Classification problem

#### The goal will be to try and predict whether or not a borrower paid back their loan in full or not

In [49]:
LC_df = pd.read_csv('Data/lending_club_loan_two.csv')
LC_df.head()

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36 months,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,Vacation,26.24,Jun-1990,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\nMendozaberg, OK 22690"
1,8000.0,36 months,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,Debt consolidation,22.05,Jul-2004,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\nLoganmouth, SD 05113"
2,15600.0,36 months,10.49,506.97,B,B3,Statistician,< 1 year,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,Credit card refinancing,12.79,Aug-2007,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,"87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113"
3,7200.0,36 months,6.49,220.65,A,A2,Client Advocate,6 years,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,Credit card refinancing,2.60,Sep-2006,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,"823 Reid Ford\nDelacruzside, MA 00813"
4,24375.0,60 months,17.27,609.33,C,C5,Destiny Management Inc.,9 years,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,Credit Card Refinance,33.95,Mar-1999,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,"679 Luna Roads\nGreggshire, VA 11650"

In [75]:
print(f'shape: {LC_df.shape}')
LC_df.describe().T

shape: (396030, 27)

,count,mean,std,min,25%,50%,75%,max
loan_amnt,396030.0,14113.888089,8357.441341,500.00,8000.00,12000.00,20000.00,40000.00
int_rate,396030.0,13.639400,4.472157,5.32,10.49,13.33,16.49,30.99
installment,396030.0,431.849698,250.727790,16.08,250.33,375.43,567.30,1533.81
annual_inc,396030.0,74203.175798,61637.621158,0.00,45000.00,64000.00,90000.00,8706582.00
dti,396030.0,17.379514,18.019092,0.00,11.28,16.91,22.98,9999.00
open_acc,396030.0,11.311153,5.137649,0.00,8.00,10.00,14.00,90.00
pub_rec,396030.0,0.178191,0.530671,0.00,0.00,0.00,0.00,86.00
revol_bal,396030.0,15844.539853,20591.836109,0.00,6025.00,11181.00,19620.00,1743266.00
revol_util,395754.0,53.791749,24.452193,0.00,35.80,54.80,72.90,892.30
total_acc,396030.0,25.414744,11.886991,2.00,17.00,24.00,32.00,151.00
mort_acc,358235.0,1.813991,2.147930,0.00,0.00,1.00,3.00,34.00
pub_rec_bankruptcies,395495.0,0.121648,0.356174,0.00,0.00,0.00,0.00,8.00

In [76]:
LC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 27 columns):
loan_amnt               396030 non-null float64
term                    396030 non-null object
int_rate                396030 non-null float64
installment             396030 non-null float64
grade                   396030 non-null object
sub_grade               396030 non-null object
emp_title               373103 non-null object
emp_length              377729 non-null object
home_ownership          396030 non-null object
annual_inc              396030 non-null float64
verification_status     396030 non-null object
issue_d                 396030 non-null object
loan_status             396030 non-null object
purpose                 396030 non-null object
title                   394275 non-null object
dti                     396030 non-null float64
earliest_cr_line        396030 non-null object
open_acc                396030 non-null float64
pub_rec                 396030 non-null float64
revol_bal               396030 non-null float64
revol_util              395754 non-null float64
total_acc               396030 non-null float64
initial_list_status     396030 non-null object
application_type        396030 non-null object
mort_acc                358235 non-null float64
pub_rec_bankruptcies    395495 non-null float64
address                 396030 non-null object
dtypes: float64(12), object(15)
memory usage: 81.6+ MB

In [69]:
LC_df.loan_status.unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [70]:
# The target column in this exercise is the 'loan_status' column.
# This is the percent of loans that were 'Fully Paid' vs. 'Charged Off'
len(LC_df[LC_df['loan_status'] == 'Fully Paid']) / len(LC_df)

0.8038709188697826

### Predict heart disease rate: Regression problem

https://www.kaggle.com/nandvard/microsoft-data-science-capstone

The goal is to predict the rate of heart disease (per 100,000 individuals) across the United States at the county-level from other socioeconomic indicators.

There are 3 CSV files for this exercise. Training_values.csv, Training_labels.csv, and Test_values.csv.

The target column will be in the "Training_labels.csv" file under the `heart_disease_mortality_per_100k` column.

In [67]:
heart_df = pd.read_csv('Data/predict heart disease rate/Training_values.csv')
heart_df.head()

,row_id,area__rucc,area__urban_influence,econ__economic_typology,econ__pct_civilian_labor,econ__pct_unemployment,econ__pct_uninsured_adults,econ__pct_uninsured_children,demo__pct_female,demo__pct_below_18_years_of_age,demo__pct_aged_65_years_and_older,demo__pct_hispanic,demo__pct_non_hispanic_african_american,demo__pct_non_hispanic_white,demo__pct_american_indian_or_alaskan_native,demo__pct_asian,demo__pct_adults_less_than_a_high_school_diploma,demo__pct_adults_with_high_school_diploma,demo__pct_adults_with_some_college,demo__pct_adults_bachelors_or_higher,demo__birth_rate_per_1k,demo__death_rate_per_1k,health__pct_adult_obesity,health__pct_adult_smoking,health__pct_diabetes,health__pct_low_birthweight,health__pct_excessive_drinking,health__pct_physical_inacticity,health__air_pollution_particulate_matter,health__homicides_per_100k,health__motor_vehicle_crash_deaths_per_100k,health__pop_per_dentist,health__pop_per_primary_care_physician,yr
0,0,Metro - Counties in metro areas of fewer than ...,Small-in a metro area with fewer than 1 millio...,Manufacturing-dependent,0.408,0.057,0.254,0.066,0.516,0.235,0.176,0.109,0.039,0.829,0.004,0.011,0.194223,0.424303,0.227092,0.154382,12,12,0.297,0.230,0.131,0.089,NaN,0.332,13.0,2.80,15.09,1650.0,1489.0,a
1,1,Metro - Counties in metro areas of fewer than ...,Small-in a metro area with fewer than 1 millio...,Mining-dependent,0.556,0.039,0.260,0.143,0.503,0.272,0.101,0.410,0.070,0.493,0.008,0.015,0.164134,0.234043,0.342452,0.259372,19,7,0.288,0.190,0.090,0.082,0.181,0.265,10.0,2.30,19.79,2010.0,2480.0,a
2,4,Metro - Counties in metro areas of 1 million p...,Large-in a metro area with at least 1 million ...,Nonspecialized,0.541,0.057,0.070,0.023,0.522,0.179,0.115,0.202,0.198,0.479,0.013,0.085,0.158573,0.237859,0.186323,0.417245,12,6,0.212,0.156,0.084,0.098,0.195,0.209,10.0,9.31,3.14,629.0,690.0,b
3,5,"Nonmetro - Urban population of 2,500 to 19,999...",Noncore adjacent to a small metro with town of...,Nonspecialized,0.500,0.061,0.203,0.059,0.525,0.200,0.164,0.013,0.049,0.897,0.007,0.001,0.181637,0.407186,0.248503,0.162675,11,12,0.285,NaN,0.104,0.058,NaN,0.238,13.0,NaN,NaN,1810.0,6630.0,b
4,6,"Nonmetro - Urban population of 2,500 to 19,999...",Noncore not adjacent to a metro/micro area and...,Nonspecialized,0.471,0.050,0.225,0.103,0.511,0.237,0.171,0.025,0.008,0.953,0.003,0.000,0.122367,0.413240,0.306921,0.157472,14,12,0.284,0.234,0.137,0.070,0.194,0.290,9.0,NaN,29.39,3489.0,2590.0,a

In [77]:
print(f'shape: {heart_df.shape}')
heart_df.describe().T

shape: (3198, 34)

,count,mean,std,min,25%,50%,75%,max
row_id,3198.0,3116.985616,1830.236781,0.000000,1504.250000,3113.500000,4724.750000,6276.000000
econ__pct_civilian_labor,3198.0,0.467191,0.074400,0.207000,0.420000,0.468000,0.514000,1.000000
econ__pct_unemployment,3198.0,0.059696,0.022947,0.010000,0.044000,0.057000,0.072000,0.248000
econ__pct_uninsured_adults,3196.0,0.217463,0.067362,0.046000,0.166000,0.216000,0.261000,0.496000
econ__pct_uninsured_children,3196.0,0.086067,0.039849,0.012000,0.057000,0.077000,0.106000,0.281000
demo__pct_female,3196.0,0.498811,0.024399,0.278000,0.493000,0.503000,0.512000,0.573000
demo__pct_below_18_years_of_age,3196.0,0.227715,0.034282,0.092000,0.206000,0.226000,0.246000,0.417000
demo__pct_aged_65_years_and_older,3196.0,0.170043,0.043694,0.045000,0.141000,0.167000,0.195000,0.346000
demo__pct_hispanic,3196.0,0.090207,0.142763,0.000000,0.019000,0.035000,0.087000,0.932000
demo__pct_non_hispanic_african_american,3196.0,0.091046,0.147165,0.000000,0.006000,0.022000,0.096000,0.858000
demo__pct_non_hispanic_white,3196.0,0.769989,0.207850,0.053000,0.649000,0.853000,0.936250,0.990000
demo__pct_american_indian_or_alaskan_native,3196.0,0.024680,0.084563,0.000000,0.002000,0.007000,0.014000,0.859000
demo__pct_asian,3196.0,0.013109,0.025431,0.000000,0.002000,0.007000,0.013000,0.341000
demo__pct_adults_less_than_a_high_school_diploma,3198.0,0.148815,0.068208,0.015075,0.096588,0.133234,0.194796,0.473526
demo__pct_adults_with_high_school_diploma,3198.0,0.350567,0.070554,0.065327,0.305357,0.355015,0.399554,0.558912
demo__pct_adults_with_some_college,3198.0,0.301143,0.052318,0.109548,0.264861,0.301587,0.336590,0.473953
demo__pct_adults_bachelors_or_higher,3198.0,0.199475,0.089308,0.011078,0.139234,0.176471,0.231354,0.798995
demo__birth_rate_per_1k,3198.0,11.676986,2.739516,4.000000,10.000000,11.000000,13.000000,29.000000
demo__death_rate_per_1k,3198.0,10.301126,2.786143,0.000000,8.000000,10.000000,12.000000,27.000000
health__pct_adult_obesity,3196.0,0.307668,0.043228,0.131000,0.284000,0.309000,0.334000,0.471000
health__pct_adult_smoking,2734.0,0.213628,0.062895,0.046000,0.172000,0.210000,0.249000,0.513000
health__pct_diabetes,3196.0,0.109260,0.023216,0.032000,0.094000,0.109000,0.124000,0.203000
health__pct_low_birthweight,3016.0,0.083896,0.022251,0.033000,0.069000,0.081000,0.095000,0.238000
health__pct_excessive_drinking,2220.0,0.164841,0.050474,0.038000,0.130000,0.164000,0.197000,0.367000
health__pct_physical_inacticity,3196.0,0.277161,0.053003,0.090000,0.242750,0.280000,0.313000,0.442000
health__air_pollution_particulate_matter,3170.0,11.625868,1.557996,7.000000,10.000000,12.000000,13.000000,15.000000
health__homicides_per_100k,1231.0,5.947498,5.031822,-0.400000,2.620000,4.700000,7.890000,50.490000
health__motor_vehicle_crash_deaths_per_100k,2781.0,21.132618,10.485923,3.140000,13.490000,19.630000,26.490000,110.450000
health__pop_per_dentist,2954.0,3431.433649,2569.450603,339.000000,1812.250000,2690.000000,4089.750000,28130.000000
health__pop_per_primary_care_physician,2968.0,2551.339286,2100.459467,189.000000,1420.000000,1999.000000,2859.000000,23399.000000

In [63]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 34 columns):
row_id                                              3198 non-null int64
area__rucc                                          3198 non-null object
area__urban_influence                               3198 non-null object
econ__economic_typology                             3198 non-null object
econ__pct_civilian_labor                            3198 non-null float64
econ__pct_unemployment                              3198 non-null float64
econ__pct_uninsured_adults                          3196 non-null float64
econ__pct_uninsured_children                        3196 non-null float64
demo__pct_female                                    3196 non-null float64
demo__pct_below_18_years_of_age                     3196 non-null float64
demo__pct_aged_65_years_and_older                   3196 non-null float64
demo__pct_hispanic                                  3196 non-null float64
demo__pct_non_hispanic_african_american             3196 non-null float64
demo__pct_non_hispanic_white                        3196 non-null float64
demo__pct_american_indian_or_alaskan_native         3196 non-null float64
demo__pct_asian                                     3196 non-null float64
demo__pct_adults_less_than_a_high_school_diploma    3198 non-null float64
demo__pct_adults_with_high_school_diploma           3198 non-null float64
demo__pct_adults_with_some_college                  3198 non-null float64
demo__pct_adults_bachelors_or_higher                3198 non-null float64
demo__birth_rate_per_1k                             3198 non-null int64
demo__death_rate_per_1k                             3198 non-null int64
health__pct_adult_obesity                           3196 non-null float64
health__pct_adult_smoking                           2734 non-null float64
health__pct_diabetes                                3196 non-null float64
health__pct_low_birthweight                         3016 non-null float64
health__pct_excessive_drinking                      2220 non-null float64
health__pct_physical_inacticity                     3196 non-null float64
health__air_pollution_particulate_matter            3170 non-null float64
health__homicides_per_100k                          1231 non-null float64
health__motor_vehicle_crash_deaths_per_100k         2781 non-null float64
health__pop_per_dentist                             2954 non-null float64
health__pop_per_primary_care_physician              2968 non-null float64
yr                                                  3198 non-null object
dtypes: float64(27), int64(3), object(4)
memory usage: 849.6+ KB

In [68]:
pd.DataFrame(data=(100 * (heart_df.isnull().sum() / len(heart_df))), columns=['Percent NaN'])

                                                  Percent NaN
row_id                                               0.000000
area__rucc                                           0.000000
area__urban_influence                                0.000000
econ__economic_typology                              0.000000
econ__pct_civilian_labor                             0.000000
econ__pct_unemployment                               0.000000
econ__pct_uninsured_adults                           0.062539
econ__pct_uninsured_children                         0.062539
demo__pct_female                                     0.062539
demo__pct_below_18_years_of_age                      0.062539
demo__pct_aged_65_years_and_older                    0.062539
demo__pct_hispanic                                   0.062539
demo__pct_non_hispanic_african_american              0.062539
demo__pct_non_hispanic_white                         0.062539
demo__pct_american_indian_or_alaskan_native          0.062539
demo__pct_asian                                      0.062539
demo__pct_adults_less_than_a_high_school_diploma     0.000000
demo__pct_adults_with_high_school_diploma            0.000000
demo__pct_adults_with_some_college                   0.000000
demo__pct_adults_bachelors_or_higher                 0.000000
demo__birth_rate_per_1k                              0.000000
demo__death_rate_per_1k                              0.000000
health__pct_adult_obesity                            0.062539
health__pct_adult_smoking                           14.509068
health__pct_diabetes                                 0.062539
health__pct_low_birthweight                          5.691057
health__pct_excessive_drinking                      30.581614
health__pct_physical_inacticity                      0.062539
health__air_pollution_particulate_matter             0.875547
health__homicides_per_100k                          61.507192
health__motor_vehicle_crash_deaths_per_100k         13.039400
health__pop_per_dentist                              7.629769
health__pop_per_primary_care_physician               7.191995
yr                                                   0.000000

### Potential ideas for future capstone projects

An idea would be to scrape the top 10 stocks (Tesla, Amazon, Apple, Microsoft, etc...) CEO's twitter accounts to see if the amount of tweets, tweet content, and tweets at the company around earnings time, indicate anything about earnings outcomes, etc...